/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body{
    @apply bg-secondary font-inter text-white
  }

  h1{
    @apply font-bold text-3xl text-white mb-4
  }

  h2{
    @apply font-semibold text-2xl text-white mb-4
  }

  h3{
    @apply font-medium text-xl text-white mb-4
  }

  h4{
    @apply font-medium text-lg text-white mb-4
  }

  p{
    @apply font-normal text-base text-zinc-400 
    text-balance leading-7 mb-4 max-w-[800px]
  }

}

@layer components {

  .info{
    @apply bg-primary 
    border border-zinc-900 
    rounded-xl shadow-md p-4 
    font-normal text-base text-white
  }

  /* Button component. */
  .button-3d{
    @apply bg-primary rounded-lg
    border border-border-300
    relative top-0 px-4 py-2
    font-medium text-base
    transition-btn duration-100
    hover:button-3d-hover active:button-3d-active
    select-none
  }

  .button-3d::before{
    @apply content-[""] w-full
    bg-border-400 rounded-b-lg shadow-md
    absolute left-0 -bottom-[5px] h-2 -z-10 
    transition-btn duration-100
  }

  .button-3d-hover{
    @apply bg-white text-primary
    before:bg-border-200 border-border-100
  }

  .button-3d-active{
    @apply bg-white text-primary
    before:bg-border-200 border-border-100
    top-1 before:-translate-y-1
  }

  /* Switch component */

  .switch{
    @apply relative
    font-medium text-base
  }  

  .switch-option{
    @apply bg-primary
    border-r border-y first:border-l border-border-300
    relative top-0 px-4 py-2
    font-medium text-base
    transition-btn duration-100
    hover:switch-option-hover active:switch-option-active
    first:rounded-l-lg last:rounded-r-lg
    select-none
  }

  .switch-option::before{
    @apply bg-border-400 content-[""]
    first:rounded-l-lg last:rounded-r-lg shadow-md
    w-[calc(100%+1px)] last:w-full
    absolute left-0 -bottom-[5px]  h-4 -z-10 
    transition-btn duration-100
  }

  .switch-option-hover{
    @apply bg-white text-primary
    before:bg-border-200 border-border-100
  }

  .switch-option-active{
    @apply bg-white text-primary
    before:bg-border-200 border-border-100
    top-1 before:-translate-y-1
  }

}

@layer utilities {

}
